body {
	font-family: "Verdana";
	font-size: 14px;
}

figure {
	border: 1px solid black;
	padding: 10px;
	width: 180px;
	margin: 0px;
}

img {
	width: inherit;
}

figcaption {
	font-style: italic;
	text-align: center;
}