body {
	font-family: "Verdana";
	font-size: 14px;
	background-color: #aaa;
	color: #333;
	padding: 10px 28px 10px 28px;
}

figure {
	border: 1px solid #333;
	padding: 10px;
	width: 180px;
	margin: 0px;
}

img {
	width: inherit;
}

figcaption {
	font-style: italic;
	text-align: center;
}

p {
	text-align: justify;
}